page-reset-pass {

    .container-logo {
      margin: 25px 0;
      display: flex;
      justify-content: center;
    }
  
      .logo {
      height: 300px;
      }
    .container-note {
        margin: 15px auto;
        width: 80%;
    }
}
