page-delivery-donation {
    .container-list {
        display: flex;
        align-items: center;
    }

  .check-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-top: 20px;
  }
}
