<ion-header>
  <ion-navbar color="blue-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Donar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">

  <div class="empty-message" *ngIf="donationList.length === 0">
    <span>Aún no tienes registradas donaciones</span>
  </div>

  <div *ngIf="donationList.length > 0">
    <ion-list *ngFor="let item of donationList">
      <div class="container-list">
        <ion-item style="width: 70%">
          <b>{{ materialProv.getMaterialValuebyId(item.tipoId) }}</b>
          <br>
          <b>Cantidad:</b> {{ item.cantidad }}
          <br>
          <b>Unidad:</b> {{ materialProv.getUnitiesValuebyId(item.tipoId, item.unidadId) }}
          <br>
          <b>Estado:</b> {{ item.estado }}
          <br> {{ item.descripcion }}
        </ion-item>
        <div style="width: 30%; background-color: white">
          <button ion-button full color="blue-dark" (click)="editMaterial(item)">
            Editar
          </button>
          <button ion-button full style="background-color: red" (click)="deleteMaterial(item.id)">
            Eliminar
          </button>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-footer class="sticky">
    <button ion-button color="secondary" full *ngIf="donationList.length > 0"> Entregar donación</button>
    <button ion-button full color="blue-dark" (click)="goToDonationForm()">
      <span>Adicionar Material</span>
    </button>
  </ion-footer>

</ion-content>