page-register {
  .register-form {
    background-color: #FFFFFF;
    padding-top: 20px;
    border: none;
  }

  .radio-description {
    background-color: #FFFFFF;
    padding: 10px 15px 0px 15px;
  }

  .check-container {
    display: flex;
    padding: 10px 15px;
    margin-top: 20px;
  }

  .check-container a {
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
  }

  ion-list {
    margin: 0;
  }

}
