.container {
  background-color: $gray;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.container-nav {
  background-color: $blue-dark !important;
}

.register-form {
  background-color: #FFFFFF;
  padding-top: 20px;
  border: none;
}

.error-msg {
  color: #a94442;
  padding: 10px 15px;
}
