<ion-header>
  <ion-navbar color="blue-dark">
    <ion-title>Registro de Materiales</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">

  <form [formGroup]="formGroup" novalidate class="register-form">

    <ion-list>
      <ion-item>
        <ion-label>Lista de materiales</ion-label>
        <ion-select formControlName="materialType" [(ngModel)]="materialData.tipoId" interface="action-sheet">
          <div *ngFor="let mat of materialTypeList">
              <ion-option value="{{mat.tipoId}}" (ionSelect)="updateUnities(mat)">{{mat.descripcion}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cantidad</ion-label>
        <ion-input type="number" formControlName="quantity" [(ngModel)]="materialData.cantidad"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Unidades</ion-label>
        <ion-select formControlName="unities" [(ngModel)]="materialData.unidadId" interface="action-sheet">
          <div *ngFor="let unit of UnitiesList">
              <ion-option value="{{unit.id}}">{{unit.descripcion}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Estado del material</ion-label>
        <ion-select formControlName="materialState" [(ngModel)]="materialData.estado" interface="action-sheet">
          <div *ngFor="let state of materialStatesList">
              <ion-option value="{{state.name}}">{{state.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea formControlName="materialDescription" [(ngModel)]="materialData.descripcion"></ion-textarea>
      </ion-item>

  </ion-list>
  
  <ion-footer>
    <button ion-button color="primary" full style="margin-top: 30px" (click)="saveMaterial()" type="button" [disabled]="formGroup.invalid">
      Guardar 
    </button>
  </ion-footer>  

    

  </form>


</ion-content>