page-welcome {

  button.btn-registro {
    position: absolute;
    bottom: 5rem;
  }

  button.btn-ingresa {
    position: absolute;
    bottom: 0;
  }

  .logo {
    height: 300px;
  }

  .text-logo {
    text-align: center;
    font-size: 22px;
    color: $orange;
  }

  .btn-green {
    background-color: $green-light;
  }

  .btn-blue {
    background-color: $blue-dark;
  }

  .container-logo {
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

}
